@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Secular+One&display=swap');


body {
    margin: 0;
    font-family: "PT Serif", serif;
    width: 100%;
}

.header {
    display: flex;
    width: 100%;
    height: 90%;
    font-family: sans-serif;
    position: sticky;
    align-items: center;
    z-index: 2;
    margin-top: 3vh;
    background-color: black;


}

.navbar {
    display: flex;
    margin-left: 115vh;
    flex-direction: row;

}

.navbar a {
    position: relative;
    font-size: 1.2vw;
    color: white;
    text-decoration: none;
    margin-left: 6vw;
}

.button_login {
    height: 5vh;
    width: 15vh;
    position: relative;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 90vh;
    margin-left: 15vh;
}

.btn_text {
    color: white;
    text-align: left;
    z-index: 1;
    font-weight: 800;
    letter-spacing: 4px;
}

.home {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    background-image: url("https://static.vecteezy.com/ti/fotos-gratis/p1/24620286-vibrante-cores-do-tropical-peixe-dentro-uma-caribe-recife-paraiso-gerado-de-ai-gratis-foto.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;


}

.home h1 {
    display: flex;
    color: white;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-size: 14vh;
    font-family: "Secular One", sans-serif;
    margin-top: 10vh;

}

.container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
}

.conteudo {
    display: flex;
    flex-direction: column;
    color: #D8C4B5;
    background-color: rgba(61, 63, 66, 0.568);
    width: 50%;
    margin-top: 1vh;
}

.conteudo h1 {
    display: flex;
    font-size: 6vh;
    font-weight: bold;
    margin-left: 4vh;

}

.conteudo h2 {
    display: flex;
    font-size: 4vh;
    font-weight: bold;


}

.sobre {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #473121;
    border-top: 1vh solid black;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/3f/S._flavius_SP_Zoo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;

}

.sobre h1 {
    display: flex;
    font-weight: bold;
    color: black;
    justify-content: center;
    font-size: 7vh;
    font-family: "Secular One", sans-serif;
    margin-top: 10vh;

}

.containerSobre {
    background-color: transparent;
    width: 50%;
    justify-items: center;
    width: 100%;
    flex-direction: column;



}

.conteudoSobre h2 {
    display: flex;
    font-size: 4vh;
    text-align: start;
    color: black;
    font-family: sans-serif;
    width: 50%;

}

.imagemSobre {
    display: flex;
    
    width: 50%;
    height: 300px;
    justify-content: left;
}

.containerCuriosidades {
    display: flex;
    width: 100%;
    background-color: black;
    flex-direction: column;
    border-top: 1vh solid black;


}

.conteudoCuriosidades {
    display: flex;
    font-size: 4vh;
    text-align: end;
    color: black;
    width: 100%;
    justify-content: center;
    flex-direction: column;

}

.containerCuriosidades h1 {
    display: flex;
    font-weight: bold;
    color: black;
    justify-content: center;
    font-size: 7vh;
    font-weight: bold;
    margin-top: 10vh;
    flex-direction: column;
    margin-left: 5vh;
    color:aliceblue;

}

.conteudoCuriosidadesInicio{
    display: flex;
    width: 100%;
    background-color: transparent;
    flex-direction: column;

   
}
.conteudoCuriosidadesInicio h2 {
display: flex;
font-size: 5vh;
text-align: start;
color: black;
width: 50%;
margin-left: 5vh;
color: #D8C4B5;
}
.conteudoCuriosidadesMeio h2{
display: flex;
font-size: 5vh;
text-align: start;
color: black;
width: 50%;
margin-left: 15vh;
color: #D8C4B5;



}
.conteudoCuriosidadesFinal h2{
display: flex;
font-size: 5vh;
text-align: start;
color: black;
width: 50%;
margin-left: 25vh;
color: #D8C4B5;


}